In [ ]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3, ...]

In [1]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [2]:
array[0]

1

In [4]:
array[-1] # 마이너스(-)는 끝에서부터 찾는다

True

In [ ]:
array[4] # 에러뜸

In [8]:
for item in array:
    print(item)

1
3.14
문자열
True

In [31]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을때 
# 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오
# (요소값 - 평균)^2 / 개수 = 분산

In [32]:
# 쌤코드
# 최댓값
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

max = float("-Inf")
for number in numbers:
    if number > max:
        max = number

print(max)

10.3

In [42]:
# 평균
sum = 0
for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)

print(avg)

6.04

In [35]:
# 최솟값
min = float("Inf")
for number in numbers:
    if number < min:
        min = number

print(min)

3.2

In [44]:
# 분산
sum = 0
for number in numbers:
    sum += (number - avg) ** 2
disoersion = round(sum / len(numbers), 2)
disoersion

7.23

In [45]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [46]:
len(numbers)

5

In [47]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [48]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
# 리스트에 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 exrend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

In [53]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [54]:
numbers.append(99) # 마지막에 추가됨
numbers

[0, 1, 2, 3, 4, 99]

In [55]:
numbers.insert(0, -100) # 0번 째 자리에 추가
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [56]:
numbers.extend([123, 321]) # 옆에 붙는다? 확장된다
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321]

In [ ]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

In [57]:
del numbers[0]
numbers

[0, 1, 2, 3, 4, 99, 123, 321]

In [58]:
numbers.pop() # ()안이 비어있으면 맨 마지막 놈을 꺼내옴

321

In [59]:
numbers

[0, 1, 2, 3, 4, 99, 123]

In [60]:
numbers.pop(2) # 해당 인덱스 요소 꺼내옴

2

In [61]:
numbers

[0, 1, 3, 4, 99, 123]

In [67]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

[1, 1, 1, 2, 2, 3]

In [68]:
numbers.remove(2)
numbers

[1, 1, 1, 2, 3]

In [ ]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [69]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [70]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [74]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [76]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [82]:
names.append('한시우')
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [83]:
names.remove('최이서')
names

['김이준', '이서아', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [86]:
new_names = names[4:9]
new_names

['강아윤', '조은우', '윤지아', '장서준', '임하윤']